/* app-wide */
/* * {
  border: 1px solid black;
} */
.app {
  width: 100vw;
}
.body-one {
  font-size: 1.87em;
  text-decoration: none;
}
.heading-one {
  font-size: 3.75em;
}
/* components */
.auth-link {
  padding: .1em;
  height: 5.5vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 35px;
}
/* landing */
.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.landing-banner {
  height: 65vh;
  border: 1px solid black;
}
.landing-banner-message {
  margin: 0 auto;
  height: 55vh;
  width: 50vw;
  text-align: center;
}
.landing-banner-text {
  margin-top: -1.5em;
}
/* partials */
.header {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-links {
  width: 20vw;
}
.header-logo {
  width: 20vw;
}
.header-nav {
  width: 40vw;
}
.header-nav-link {
  
}
